* {
	margin: 0;
	padding: 0;
	font-family: Arvo;
}

ul {

	padding: 30px;
}

body, html {
	height: 100%;
}

h1 {
	font-family: Arvo;
	padding-top: 10%;
	color: black;
}

img {
	padding-top: 10px;
	padding-bottom: 10px;
}

.albumCover {
	width: 100px;
	height: 100px;
}

img:nth-of-type(0) {
	padding-top: 20px;
}

button {
	background: none;
	border: none;
}

h2 {
	font-family: Arvo;
	font-style: normal;
	font-size: 14pt;
	color: black;
}

h2:nth-child(2) {
	color: white;
}

.whitetext {
	font-size: 20pt;
	padding: 20px;
	color:white;
	padding-bottom: 30px;
}

#options_table{
	margin-top: 25px;
	opacity: .7;
	background-color: gray;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 50%;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.description {
	text-align: left;
	list-style-type: none;
}

.artist {

	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.page1desc {
	padding-top: 30px;
}

.page2desc {
	padding-top: 30px;
}

#project_list {
	padding-top: 10%;
	margin-left:auto;
	margin-right:auto;
}

#project_list li {
	display: inline;
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 2px solid gray;
	width: 20%;
}

#project_list li:last-child {
	border-right: none;
}

.page1header {
	color: black;
}
.page2header {
	color: white;
}

.soundcloud_image {

	width: 60px;
	height: 60px;
	padding: 10px;
	/*padding-top: 30px;*/
}

.next_arrow {

	float:bottom;
	width: 50px;
	height: 20px;
	bottom: 0;
}

.next_arrow_2 {

	float:bottom;
	width: 50px;
	height: 20px;
	padding-top:auto;
	bottom: 0;

}


#links {
	width: 30%;
	height: 25%;
	margin-left: auto;
	margin-right: auto;
}

#page1 {
	height: 100%;
	text-align: center;
}
#page2 {
	height: 100%;
	text-align: center;
	background-image: url("./wonderyears.png");
	background-size: 100%;
	/*background-color: rgb(241, 150, 28);*/
}
#page1 {
	height: 100%;
	text-align: center;
}
#page3 {
	height: 40%;
	text-align: center;
	background-color: white;
	/*background-color: rgb(241, 150, 28);*/
}